{% extends 'base.html' %}
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
{% block content %}
<div style="height: 300px; display: flex; justify-content: center; align-items: center;">
<div class='col-10 offset-1'>
<h4 style="font-size: 28px; font-weight: bold; border-bottom: double 4px; margin: 20px; text-align: left;">夢</h4>
<div style='margin: 20px 0px 0px 60px;'>
<table class='table table-striped table-bordered'>
    <thead>
        <tr>
            <th>{{ goal.goal_title }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ goal.goal_detail }}</td>
        </tr>
    </tbody>
</table>
</div>
{% comment %}
{% if tasks %}
<div class='col-10 offset-1'>
<h4>タスクリスト</h4>
<table class='table table-striped table-bordered'>
    <thead>
        <tr>
            <th>タスク</th>
            <th>優先順位</th>
            <th>進捗</th>
            <th>期限</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.task_title }}</td>
            <td>{{ task.task_priority }}</td>
            <td>
                {% if task.task_condition %}
                    達成済み
                {% else %}
                    未達成
                {% endif %}
            </td>
            <td>{{ task.task_due }}</td>
            <td><a href="{% url 'accounts:task_edit' pk=task.id %}">変更</a></td>
            <td><a href="{% url 'accounts:task_delete' pk=task.id %}">削除</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% else %}
<h3>タスクを登録しましょう。</h3>
{% endif %}
<td><a href="{% url 'accounts:task_regist' pk=goal.id %}">タスクを登録する</a></td>
<div>
{% endcomment %}
<p style="font-size: 20px; font-weight: bold; border-bottom: double 4px; margin: 20px; text-align: left;">
    画像生成
</p>
<p style="font-size: 18px; margin: 20px 0px 0px 60px;">
    <a href="{% url 'accounts:pict_generate' pk=goal.id %}">この夢でプロフィール画像を作成する</a><br>
</p>

<p style="font-size: 18px; margin: 20px 0px 0px 60px;"><a href="{% url 'accounts:goal_list' %}">リストへ戻る</a></p>

</div>
</div>
{% endblock %}