{% extends 'base.html' %}
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
{% block content %}
<div style="margin: 0 auto; max-width: 800px;">
    
    <h1 style="font-size: 28px; font-weight: bold; border-bottom: double 4px; margin: 20px; padding: 20px; display: flex; justify-content: center; align-items: center;">夢</h1>
    
        <div style="max-height: 400px; overflow-y: auto; padding: 10px;">
            <table class='table table-striped table-bordered' style="text-align :center;">
                <thead>
                    <tr>
                        <th>{{ goal.goal_title }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><pre>{{ goal.goal_detail }}</pre></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="display: flex; justify-content: center; align-items: center; margin: 40px 0px 0px 0px;">
            <a style="border-radius: 10px; background-color: #c2edff; padding: 5px;" href="{% url 'accounts:goal_list' pk=user.id %}">リストへ戻る</a>
        </div>
        
    <h1 style="font-size: 28px; font-weight: bold; border-bottom: double 4px; margin: 40px; padding: 20px; display: flex; justify-content: center; align-items: center;">画像生成</h1>
    <div style="display: flex; justify-content: center; align-items: center; margin: 40px 0px 0px 0px;">
        <a style="font-size: 20px; color :orange; border-radius: 10px; background-color: #ffedc2; padding: 10px;" href="{% url 'accounts:pict_generate' pk=goal.id %}">この夢でプロフィール画像を作成する</a><br>
    </div>

</div>
{% endblock %}
</body>