<!DOCTYPE html>
{% extends 'base.html' %}
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
{% block content %}
<div style="margin: 0 auto; max-width: 800px;">
    
    <h1 style="font-size: 28px; font-weight: bold; border-bottom: double 4px; margin: 20px; padding: 20px; display: flex; justify-content: center; align-items: center;">プロフィール</h1>

    <div style="margin: 20px; display: flex; justify-content: center; align-items: center;">
        {% load static %}
        <img src="{% static 'kakouzumi.png' %}">
    </div>
</div>

<div style="display: flex; justify-content: center; align-items: center; margin: 40px 0px 0px 0px;">
    <a id="downloadButton" href="{% static 'kakouzumi.png' %}" download="profile_image.png" class="btn btn-warning">画像をダウンロードする</a>
</div>
<div style="display: flex; justify-content: center; align-items: center; margin: 40px 0px 40px 0px;">
    <a class="btn btn-light" href="{% url 'accounts:goal_list' pk=user.id %}">リストへ戻る</a>
</div>


{% endblock %}
</body>