<!DOCTYPE html>
{% extends 'base.html' %}

<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
{% block content %}

<div style="height: 100px; display: flex; justify-content: center; align-items: center;">
<div class='col-10 offset-1'>
<h1 style="font-size: 28px; font-weight: bold; border-bottom: double 4px; margin: 20px; text-align: left;">プロフィール</h1>
</div>
</div>

<div style="margin: 20px; display: flex; justify-content: center; align-items: center;">
{% load static %}
    <img src="{% static 'kakouzumi.png' %}">
<div style="display: flex; justify-content: center; align-items: center; margin: 40px 0px 0px 0px;">
    <a style="border-radius: 10px; background-color: #c2edff; padding: 5px;" href="{% url 'accounts:goal_list' pk=user.id %}">リストへ戻る</a>
</div>


{% endblock %}
</body>