{% extends 'base.html' %}
{% block content %}
<div class="border">
    <div>{{ goal.goal_title }}</div>
    <div>{{ goal.goal_detail }}</div>
</div>

<form method='POST'>
    {% csrf_token %}
    {{ taskregistform.as_p }}
    <input type='submit' value="タスク登録">
</form>
<h2>タスクの一覧</h2>

        {% for task in tasks %}
        <div class="border">
            <div>{{ task.task_title }}</div>
            <div>{{ task.task_due }}</div>
        </div>
        {% empty %}
        <div>タスクはありません。</div>
        {% endfor %}

{% endblock %}