{% extends 'base.html' %}
{% load static %}
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

{% block content %}
<body class="background-home">
<div style="margin: 0 auto; max-width: 800px;">

    {% if messages %}
        <div style="margin-top: 20px; margin-bottom: 10px; text-align: center;">
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    
    <h1 class="page-title">ユーザーログイン</h1>

<form method='POST' style="max-width:300px;margin:auto" >
    {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors.as_text }}
                </div>
            {% endif %}

            <div class="form-group">
                <p class="title-label">
                    <label for="id_username" class="form-label">メールアドレス</label>
                </p>
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="error-message">{{ form.username.errors.as_text }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <p class="title-label">
                    <label for="id_password" class="form-label">パスワード</label>
                </p>
                {{ form.password }}
                {% if form.password.errors %}
                    <div class="error-message">{{ form.password.errors.as_text }}</div>
                {% endif %}
            </div>

        <div class="button">
            <input type='hidden' name='next' value="{{ request.GET.next }}"> {# URLのnext=以降のURLを取得、postリクエスト時にいっしょに投げる #}
            <input type='submit' class="btn btn-secondary" value="ログイン">
        </div>
</form>
</body>

{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>