{% extends 'base.html' %}
{% load static %}
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

{% block content %}
<body class="background-home">
<div style="margin: 0 auto; max-width: 800px;">
    
    <h1 class="page-title">ユーザー登録</h1>

<form method='POST' style="max-width:300px;margin:auto">
    {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors.as_text }}
                </div>
            {% endif %}

            <div class="form-group">
                <p class="title-label">
                    <label for="id_username" class="form-label">ユーザーネーム</label>
                </p>
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="error-message">{{ form.username.errors.as_text }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <p class="title-label">
                    <label for="id_address" class="form-label">メールアドレス</label>
                </p>
                {{ form.address }}
                {% if form.address.errors %}
                    <div class="error-message">{{ form.address.errors.as_text }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <p class="title-label">
                    <label for="id_password" class="form-label">パスワード</label>
                </p>
                {{ form.password }}
                {% if form.password.errors %}
                    <div class="error-message">{{ form.password.errors.as_text }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <p class="title-label">
                    <label for="id_confirm_password" class="form-label">パスワード再入力</label>
                </p>
                {{ form.confirm_password }}
                {% if form.confirm_password.errors %}
                    <div class="error-message">{{ form.confirm_password.errors.as_text }}</div>
                {% endif %}
            </div>

        <div class="button">
            <input type='submit' class="btn btn-primary" value="ユーザー登録">
        </div>
</form>
</div>
</body>
{% endblock %}